.lists,button{

  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(249, 255, 255);
  border: 3px solid rgb(57, 214, 241);
  margin: 8px;
  height: 90px;
  width: 150px;
  cursor:pointer;
}
i{
  font-size: 30px;
  margin: 5px;
}
.x{
  flex-wrap: wrap;
  flex-direction: row;
  display:flex;
}
.lists:hover ,button:hover {
	background:linear-gradient(to bottom, #72d2f8 5%, #00bfd8 100%);
}

button{
  font-size: 30px;

}
