<div class="root">
  <div class="title-area">
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Friends_logo.svg/2560px-Friends_logo.svg.png" alt="" width="400" height="75">
  </div>

  <div class="main-area">
    <app-question-presenter
      *ngIf="!isQuizOver"
      [question]="currentQuestion"
      (userChoice)="UserSelectedAnswer($event)">
    </app-question-presenter>
    
    <app-quiz-over
      *ngIf="isQuizOver">
    </app-quiz-over>
  </div>
  
  <div class="summary-area">
    <app-summary
      [questions]="summary">
    </app-summary>
  </div>
</div>
